@font-face{
    font-family:'naslov';
    src:url('./Playball/Playball-Regular.ttf') format('ttf');
}
body{
    font-family:Helvetica;
    font-size:22px;
    color:seashell;
    background-color: black;
    opacity:0.9;
    text-align: center;
    
}
header{
    height:69px;
    width:100%;
    position:fixed;
    z-index:10;
    
}
header p{
    display:inline;
    position:absolute;
    left:10px;
    font-size:50px;
    margin-top: 0%;
    font-family: 'naslov';
}
header nav{
    display:inline;
    position:absolute;
    right:10px;
    padding-top:10px;
    padding-right:10px;
}
header nav li{
    display:inline;
    padding:0 10px;
    text-decoration-line: underline;
}
main{
    position:relative;
    top:70px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
main .Mission {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    height:700px;
    width:1340px;
    margin-left:70px;
    margin-right: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content:center;
    margin-bottom:100px;
    

}
main .Mission .crno{
    background-color: black;
    width:1340px;
}
main .Tea{
    width:1000px;
    
    
}
main .Tea .slike {
    width:1000px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
main .Tea .slike  img {
    
    width:300px;
    height:200px;
    margin:2px 10px;
    
}
main .Tea .slike p{
    margin-top:0;
}
main .Locations {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
    width: 1340px;
    height: 560px;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
    
}
main .Locations h2{
    margin-bottom: 15px;
    padding-bottom: 0px;
    margin-top: 60px;
   
    
}

main .Locations .Tekst {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;

    
    
}

main .Locations .Tekst .txt1 {
    width:340px;
    height:300px ;
    text-align: center;
    margin-right: 40px;
    background-color: black;
    position: relative;
    top: 80px;
    margin-top: 0px;

    
    
}





    
    
   
footer{
    position:relative;
    top: 50px;
}
footer .Kontakt {
    height: 200px;
    text-align: center;
    
}
footer .Copy {
    display: flex;
    justify-content: flex-start;
   
    
    
}
